.jumbotron {
  align: center;
  font-stretch: expanded;
  font-weight: bold;
  font-family: serif;
  color: brown;
}
.panel panel-header {
  align: center;
  font-size-adjust: auto;
  font-family: serif;
  }
  body{
    background-color: orange;
    opacity:0.8;
  }
  .output1 {
    border: 5px solid white;
    color: white;
    width: 100px;
    height: 50px;
    }
.output2 {
  border: 5px solid white;
  color: white;
  width: 100px;
  height: 50px;
  }
  .output3 {
    border: 5px solid white;
    color: white;
    width: 100px;
    height: 50px;
  }
  .output4 {
    border: 5px solid white;
    color: white;
    width: 100px;
    height: 50px;
    }
  .col-md-6 {
  color: brown;
  border: 5px solid white;
  width: 500px;
  height: 500px;
  margin-left: 50px;
}
#abby{
  width: 100px;
  height: 50px;
}
#wambui{
  width: 100px;
  height: 50px;
}
.images {
  margin-left: 500px
  display: none;
  width:400px;
  height: 400px;
}
