.jumbotron {
  align: center;
  font-stretch: expanded;
  font-weight: bold;
  font-family: serif;
  color: brown;
}
.panel panel-header {
  align: center;
  font-size-adjust: auto;
  font-family: serif;
  }
  body{
    background-image: url(http://tse3.mm.bing.net/th?id=OGC.1e148825a8831252015db37dc03677af&pid=1.7&rurl=http%3A%2F%2Fdata.whicdn.com%2Fimages%2F114423562%2Flarge.gif&ehk=i424uQE5EEsrskRnRBvqaQ);
    opacity:0.8;
  }
.output1 {
  border: 5px solid white;
  color: white;
  width: 100px;
  height: 50px;
}
.output2 {
  border: 5px solid white;
  color: white;
  width: 100px;
  height: 50px;
  }
.col-md-6 {
  color: brown;
  border: 5px solid white;
  width: 500px;
  height: 500px;
  margin-left: 50px;
}
